@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KalahariCollar.styles.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Track Your Pet</h1>
    <p>Welcome to Kalahari Collar, where you can keep your furry friend close, even when they're far away.</p>
    <p> User Id: @ViewData["UserID"]
    </p>
</div>


<div class="container semi-transparent-card2">
    <div class="flex-row">
    <div class="buttons-col">
    <p>
        Lost pets can be a heartbreaking experience. We understand the worry that comes with it 
    </p>
    <p>
        We introduce to you the Kalahari Collar, you pet's personal tracker. With our cutting edge technology, you will always know where your pet is, at any given time.
    </p>
    </div>
    <div class="track-col">
            
    </div>
    </div>
</div>

<div class="container semi-transparent-card2">
    <p>
        We offer you: real-time tracking, Geofencing, real-time notifications and easy-to-use app!
    </p>
    <p>
        Reunite with your beloved pet quickly and reduce the stress of searching. Don't wait another day to protect your furry friend. Get started now.
    </p>
</div>
